*.o
log*.*
ApolloDemo/ApolloDemo
ApolloCoreDisplay/ApolloCoreDisplay
bgdbserver/bgdbserver
BubbleSort/BubbleSort
Hello-Amiga/Hello-Amiga
Hello-C/Hello-C
Hello-Intuition/Hello-Intuition
Hello-MUI/Hello-MUI
Mul-by-Ten/Mul-by-Ten
OpenScreen/OpenScreen
SAGAModes/SAGAModes
MUI/Aboutbox
MUI/AppWindow
MUI/BoopsiDoor
MUI/Balancing
MUI/Class1    
MUI/Class2    
MUI/Class3    
MUI/Class4    
MUI/Clock     
MUI/DragnDrop 
MUI/ElidedText
MUI/EmbeddedImages
MUI/EnvBrowser
MUI/GIFAnim   
MUI/Guigfx    
MUI/Hyperlink 
MUI/InputHandler
MUI/LayGroup  
MUI/Layout    
MUI/List1     
MUI/List2     
MUI/MenuImages
MUI/Menus     
MUI/MUI-Demo  
MUI/MultiSel  
MUI/Pages     
MUI/Pointers  
MUI/Popup     
MUI/ShowHide  
MUI/Slave     
MUI/Slidorama 
MUI/Subtask   
MUI/Textdata  
MUI/Title     
MUI/Virtual   
MUI/WbMan
