-cc=/Users/willemdrijver/ApolloCrossDev/Compilers/GCC-6.50-Stable/bin/vbccm68k -hunkdebug %s -o= %s %s -O=%ld -quiet -I/Users/willemdrijver/ApolloCrossDev/Compilers/GCC-6.50-Stable/m68k-kick13/vbcc/include -I/Users/willemdrijver/ApolloCrossDev/Compilers/GCC-6.50-Stable/m68k-amigaos/ndk13-include -I/Users/willemdrijver/ApolloCrossDev/Compilers/GCC-6.50-Stable/m68k-amigaos/ndk-include
-ccv=/Users/willemdrijver/ApolloCrossDev/Compilers/GCC-6.50-Stable/bin/vbccm68k -hunkdebug %s -o= %s %s -O=%ld -I/Users/willemdrijver/ApolloCrossDev/Compilers/GCC-6.50-Stable/m68k-kick13/vbcc/include -I/Users/willemdrijver/ApolloCrossDev/Compilers/GCC-6.50-Stable/m68k-kick13/ndk-include -I/Users/willemdrijver/ApolloCrossDev/Compilers/GCC-6.50-Stable/opt/amiga/m68k-kick13/include
-as=/Users/willemdrijver/ApolloCrossDev/Compilers/GCC-6.50-Stable/bin/vasmm68k_mot -Fhunk -kick1hunks -nowarn=62 -quiet -I/Users/willemdrijver/ApolloCrossDev/Compilers/GCC-6.50-Stable/m68k-kick13/ndk-include %s -o %s
-asv=/Users/willemdrijver/ApolloCrossDev/Compilers/GCC-6.50-Stable/bin/vasmm68k_mot -Fhunk -kick1hunks -nowarn=62 -I/Users/willemdrijver/ApolloCrossDev/Compilers/GCC-6.50-Stable/m68k-kick13/ndk-include %s -o %s
-rm=rm %s
-rmv=rm -v %s
-ld=/Users/willemdrijver/ApolloCrossDev/Compilers/GCC-6.50-Stable/bin/vlink -bamigahunk -x -Bstatic -Cvbcc -nostdlib -Z -mrel /Users/willemdrijver/ApolloCrossDev/Compilers/GCC-6.50-Stable/m68k-kick13/vbcc/lib/startup.o %s %s -L/Users/willemdrijver/ApolloCrossDev/Compilers/GCC-6.50-Stable/m68k-kick13/vbcc/lib -L/Users/willemdrijver/ApolloCrossDev/Compilers/GCC-6.50-Stable/m68k-kick13/vbcc/include -lvc -o %s
-l2=/Users/willemdrijver/ApolloCrossDev/Compilers/GCC-6.50-Stable/bin/vlink -bamigahunk -x -Bstatic -Cvbcc -nostdlib -Z -mrel %s %s -L/Users/willemdrijver/ApolloCrossDev/Compilers/GCC-6.50-Stable/m68k-kick13/vbcc/lib -L/Users/willemdrijver/ApolloCrossDev/Compilers/GCC-6.50-Stable/m68k-kick13/vbcc/include -o %s
-ldv=/Users/willemdrijver/ApolloCrossDev/Compilers/GCC-6.50-Stable/bin/vlink -bamigahunk -t -x -Bstatic -Cvbcc -nostdlib -Z -mrel /Users/willemdrijver/ApolloCrossDev/Compilers/GCC-6.50-Stable/m68k-kick13/vbcc/lib/startup.o %s %s -L/Users/willemdrijver/ApolloCrossDev/Compilers/GCC-6.50-Stable/m68k-kick13/vbcc/lib -L/Users/willemdrijver/ApolloCrossDev/Compilers/GCC-6.50-Stable/m68k-kick13/vbcc/include -lvc -o %s
-l2v=/Users/willemdrijver/ApolloCrossDev/Compilers/GCC-6.50-Stable/bin/vlink -bamigahunk -t -x -Bstatic -Cvbcc -nostdlib -Z -mrel %s %s -L/Users/willemdrijver/ApolloCrossDev/Compilers/GCC-6.50-Stable/m68k-kick13/vbcc/lib -L/Users/willemdrijver/ApolloCrossDev/Compilers/GCC-6.50-Stable/m68k-kick13/vbcc/include -o %s
-ldnodb=-s
-ul=-l%s
-cf=-F%s
-ml=500
